<ul>
  {{#comments}}
    <li>
      <span class='author'>
        <img src='{{user.avatar_url}}' alt='Gravatar' />
        <strong>{{user.login}}</strong>
        said:
      </span>
      <span class='date'>{{created_at}}</span>
      <span class='body'>{{body}}</span>
    </li>
  {{/comments}}
</ul>
